<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <body>
    <th:block th:fragment="headerFragment">
    <nav class="navbar fixed-top navbar-light bg-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a href="/home">
            <img src="./../image/logo.jpeg" style="height:3rem; object-fit:cover;" alt="홈으로 이동">
             BurgerQueen </a>
            <div class="col text-right">
                <span class="navbar-text" style="margin-right: 2rem;">
                    <span th:text="${member.memberName}" ></span>님! 환영합니다.
                </span>
                <button class="btn btn-success" type="button" id="cartBtn">구매하기</button>
                <a href="/myPage" class="btn btn-outline-secondary" type="button">마이페이지</a>
            </div>
        </div>
    </nav>
    </th:block>
    </body>

</html>