<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
        </div>

        <div class="card">
            <table class="table table-hover">
                <thead>
                <tr>
<!--                    <th class="col-md-1">#</th>-->
                    <th class="col-md-5">상품</th>
                    <th class="col-md-2">수량</th>
                    <th class="col-md-2">가격</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${cart.getCartProducts()}">
                        <td th:text="${item.getProductName()}"></td>
                        <td th:text="${item.getQuantity()}"></td>
                        <td th:text="${item.getPrice()}"></td>
                </tr>
                <tr>
                    <th class="col-md-5"> </th>
                    <th class="col-md-2">합계</th>
                    <th class="col-md-2">총액</th>
                </tr>

                <tr>
                    <td th:text=" "></td>
<!--                    <td th:text="${cart.getTotalCount()}"></td>-->
<!--                    <td th:text="${cart.getTotalPrice()}"></td>-->


                </tr>

                </tbody>

            </table>

        </div>


    </div>
    <div></div>
    <div></div>
    <div></div>
    <a href="/home">
        <button type="button" id="home-btn" class="btn btn-primary btn-sm">홈</button>
    </a>
    <button type="button" id="order-btn" class="btn btn-primary btn-sm">결제</button>
</body>
</html>