<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main-layout">
<head>
    <meta charset="UTF-8">
    <title>Cart List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let tmpCart = [];
        let totalQuantity =0;
        let totalPrice = 0;
        let totalDiscountPrice =0;
        /*]]>*/
    </script>
</head>
<body>
    <nav class="navbar fixed-top navbar-light bg-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
                <span class="navbar-text">
                    <span th:text="${member.memberName}"></span>님! 환영합니다.
                </span>
            <!--            <div class="col-6"><span id = "printId">님! 환영합니다.</span> </div>-->
            <div class="col text-right">

                <a href="/home" class="btn btn-outline-success" type="button">메뉴보기</a>
                <a href="/myPage" class="btn btn-outline-secondary" type="button">마이페이지</a>

            </div>
        </div>
    </nav>


<div class="container" style="width:60rem; margin-top:5rem; padding: 1rem;">
    <div class="card">
        <div class="card-header">
        </div>

        <div class="card">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-5">상품</th>
                    <th class="col-md-2">수량</th>
                    <th class="col-md-2" style="color:gray;">가격</th>
                    <th class="col-md-2">할인가격</th>
                </tr>
                </thead>
                <tbody>

                <tr id="trDiv" th:each="item:${cart.getCartProducts()}" th:index="${itemStat.index}">
                        <td> <span th:text="|${item.getProductName}  |"></span>
                            <span style="color:gray; font-size:small;" th:text="|(주문가능 수량 ${item.getProductCount})  |"></span>
<!--                            <span th:text="|${item.getProductStatus}  |"></span>-->
                            <th:block th:switch="${item.getProductStatus}">
<!--                                <span th:case="PRODUCT_ING">판매중</span>-->
                                <span style="color:red; font-size:small;" th:case="PRODUCT_STOP">판매중지</span>
<!--                                <span style="color:green; font-size:small;" th:case="PRDOUCT_EMPTY">재고부족</span>-->
                            </th:block>

                        </td>
                        <td>
                            <a type="button" th:id="${itemStat.index}" th:price="${item.getPrice()}" th:discountPrice="${item.getDiscountPrice()}"
                               class="minus" style="color:blue;">-</a>
                            <span th:id="|num${itemStat.index}|" th:text="${item.getQuantity()}"> </span>

                            <a type="button" th:id="${itemStat.index}" th:max="${item.getProductCount}" th:price="${item.getPrice()}" th:discountPrice="${item.getDiscountPrice()}"
                                    class="plus" style="color:blue;" >+</a>
                            <button type="button" id="delBtn" th:index="${itemStat.index}" th:max="${item.getProductCount}"
                               class="del" style="color:blue;" >삭제</button>

                        </td>
                        <td style="color:gray;" th:text="${item.getPrice()}"></td>
                        <td th:text="${item.getDiscountPrice()}"></td>

                </tr>
                <tr>
                    <th class="col-md-1"> </th>
                    <th class="col-md-5"> </th>
                    <th class="col-md-2">합계</th>
                    <th class="col-md-2" style="color:gray;">총액</th>
                    <th class="col-md-2">할인총액</th>
                </tr>
                <tr>
                    <th class="col-md-1"> </th>

                    <th class="col-md-5"> </th>
                    <td th:id="tcount" th:text="${cart.getTotalCount()}"></td>
                    <td th:id="tprice" style="color:gray;" th:text="${cart.getTotalPrice()}"></td>
                    <th th:id="tdiscountprice" class="col-md-5"> </th>



<!--                </tr>-->

                </tbody>

            </table>

        </div>
    </div>
    <div class="row" style="padding: 1rem;">
        <button class="btn btn-outline-success" type="button" id="cartBtn2" style="margin-right:0.3rem;">저장하기</button>
        <button class="btn btn-primary" type="button" id="orderBtn" >주문하기</button>
    </div>

    <input type="hidden" id="cartId" th:value="${cart.cartId}">
    <th:block th:each="cart : ${cart.getCartProducts()}">
        <!--        해당 사용자의 카트 정보를 자바스크립트 변수에 저장-->
        <script th:inline="javascript">
            /*<![CDATA[*/

            tmpCart.push({productId: [[${cart.productId}]], quantity: [[${cart.quantity}]]})
            totalQuantity += parseInt([[${cart.quantity}]]);
            totalPrice += parseInt([[${cart.getPrice()}]])*[[${cart.quantity}]];
            totalDiscountPrice += parseInt([[${cart.getDiscountPrice()}]])*[[${cart.quantity}]];
            console.log(totalQuantity, totalPrice, totalDiscountPrice, tmpCart)
            /*]]>*/
        </script>
        <script>
            document.querySelector("#tcount").innerText=totalQuantity;
            document.querySelector("#tprice").innerText=totalPrice;
            document.querySelector("#tdiscountprice").innerText=totalDiscountPrice;
        </script>
    </th:block>

</div>

<script th:inline="javascript" src="/js/cart.js"></script>
<script th:inline="javascript" src="/js/del.js"></script>
<script th:inline="javascript" src="/js/order.js"></script>
<script th:inline="javascript" src="/js/plus.js"></script>
<script th:inline="javascript" src="/js/minus.js"></script>
</body>
</html>