<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BurgerQueen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="width:57rem; padding: 1rem;">
    <div class="row">
        <div class="col-6"><span id = "printId">님! 환영합니다.</span> </div>
        <div class="col text-right">
            <button type="button" id="cartBTN" class="btn btn-primary btn-sm">장바구니 보기</button>
            <a href="/myPage" class="btn btn-primary btn-sm">My</a>
        </div>
    </div>

    <div th:each="ctg : ${categories}" style="padding: 0.5rem;">
        <h5 class="row text-capitalize" th:text="| ${ctg.categoryName} / ${ctg.countPorducts}건 조회 |"></h5>

        <div class="row row-cols-6">
            <div th:each="item : ${products}" style="padding-bottom: 0.3rem;">
                <div class="col" th:if="${item.category == ctg.categoryName}">
                    <div class="card" style="width: 16.5rem;">
                        <!--<img src="..." class="card-img-top" alt="...">-->
                        <div class="card-body text-center">
                            <h5 class="card-title" th:text="| ${item.productName}|"></h5>
                            <p class="card-text" th:text="| ${item.productDescription}|"></p>
                            <p class="card-text text-left">
                                <span th:text="|가격 : ${item.productPrice}원|"></span>
                                <span th:if="${item.productPrice} > ${item.discountPrice}" th:text="|/ 할인가격 : ${item.discountPrice}원|"></span>
                            </p>
                            <a href="#" class="btn btn-primary btn-sm" style="width: 6rem;">바로 주문</a>
                            <a href="#" class="btn btn-primary btn-sm" style="width: 6rem;">장바구니 담기</a>
        <!--                <a th:href="@{/articles/{id}(id=${item.articleId})}"> 상세 </a>-->
        <!--                <p class="card-text" th:text="|내용 : ${item.content}|"></p>-->
                    </div>
    <!--                    <div class="card-footer">-->
    <!--                        <small class="text-muted">Last updated 3 mins ago</small>-->
    <!--                    </div>-->
                     </div>
                </div>
            </div>
        </div>

</div>
<script th:inline="javascript" src="/js/home.js"></script>
</body>
</html>