<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main-layout">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
            crossorigin="anonymous"></script>

    <script>
        var cartList = {};
    </script>
</head>

<div layout:fragment="content">
    <div class="row" style="margin-top:3rem">
        <div class="col-md-12">
            <div class="jumbotron card card-block">
                <h4 th:if="${member.grade.gradeDiscription.equals('VIP') }" >🥈</h4>
                <h4 th:if="${member.grade.gradeDiscription.equals('친구') }" >🥉</h4>
                <h4 th:if="${member.grade.gradeDiscription.equals('최고') }" >🥇</h4>
                <h4  th:text="${member.memberName}"></h4>
                <p>
                    <span th:text="|이메일 : ${member.email}|"></span><br>
                    등급 : <strong th:text="| ${member.grade.gradeDiscription} |">
                </strong><br>
                    <span th:text="| 등급혜택 : ${member.grade.benefit.getBenefitName()}|"></span>
                </p>
                <address><strong>배송 주소</strong><br/>
                    <span th:text="|${member.address1}|"></span><br>
                    <span th:text="|${member.address2}|"></span><br>
                    <span th:text="|${member.address3}|"></span><br>
                    <abbr title="Phone">Phone:</abbr> <span th:text="|${member.phone}|"></span>
                    <!--                    795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890-->
                </address>
                <p style="color:gray;">
                    버거퀸 서비스를 이용해 주셔서 감사합니다.<br>
                    가입된 정보와 주문내역을 확인할 수 있는 페이지 입니다.
                </p>
                <!--                <p>-->
                <!--                    <a class="btn btn-primary btn-large" href="#">내 정보 수정하기</a>-->
                <!--                </p>-->
            </div>


            <h4>배달 상황</h4>
            <div class="list-group" th:each="item:${delivery}" th:if="${item.getDeliveryStatus().getStatusNumber()!=3}">
                <a th:href="@{/myPage/delivery/{id}(id=${item.getDeliveryId()})}" class="list-group-item list-group-item-action" th:text="${item.getDeliveryStatus().getStatusDescription()}"></a>
            </div>
            <h4>배달 완료</h4>
            <div class="list-group" th:each="item:${delivery}" th:if="${item.getDeliveryStatus().getStatusNumber()==3}">
                <a th:href="@{/myPage/delivery/{id}(id=${item.getDeliveryId()})}" class="list-group-item list-group-item-action" th:text="${item.getDeliveryStatus().getStatusDescription()}"></a>
            </div>




        </div>

    </div>

    <script th:inline="javascript" src="/js/home.js"></script>
</div>

</html>