<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main-layout">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script>
        var cartList = {};
    </script>
</head>

<div layout:fragment="content">
    <div class="row" style="margin-top:3rem">
        <div class="col-md-12">


            <div class="jumbotron card card-block" style="background-color: rgb(239,250,243);">

                <h4 th:text="${member.memberName}"></h4>
                <p>
                    <span th:text="|이메일 : ${member.email}|"></span><br>
                    <span> 등급 : <strong th:text="| ${member.grade.gradeDiscription} |"></strong></span>
                    <span th:if="${member.grade.gradeDiscription.equals('VIP') }" >🥈</span>
                    <span th:if="${member.grade.gradeDiscription.equals('친구') }" >🥉</span>
                    <span th:if="${member.grade.gradeDiscription.equals('최고') }" >🥇</span>
                    <span> (스탬프 : <strong th:text="| ${member.stamp} |"></strong> )</span>
                    <br>
                    <span th:text="| 등급혜택 : ${member.grade.benefit.getBenefitName()}|"></span>
                </p>
                <address><strong>배송 주소</strong><br/>
                    <span th:text="|${member.address1}|"></span><br>
                    <span th:text="|${member.address2}|"></span><br>
                    <span th:text="|${member.address3}|"></span><br>
                    <abbr title="Phone">Phone:</abbr> <span th:text="|${member.phone}|"></span>
                    <!--                    795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890-->
                </address>
                <p style="color:gray;">
                    버거퀸 서비스를 이용해 주셔서 감사합니다.<br>
                    가입된 정보와 주문내역을 확인할 수 있는 페이지 입니다.
                </p>
                <a href="/editUser" class="btn btn-secondary" type="button">내 정보 수정하기</a>
                <!--                <p>-->
                <!--                    <a class="btn btn-primary btn-large" href="#">내 정보 수정하기</a>-->
                <!--                </p>-->
            </div>


            <h4>배달 상황</h4>
            <div class="list-group" th:each="item:${delivery}" th:if="${item.getDeliveryStatus().getStatusNumber()!=3}">
                <a style="margin-top: 0.5rem;" th:href="@{/myPage/delivery/{id}(id=${item.getDeliveryId()})}">
                    <div class="list-group-item list-group-item-action">
                        <b4>주문 번호 :</b4>
                        <span th:text="${item.getDeliveryId()}"></span><br>
                        <b4>주문 상태 :</b4>
                        <span th:text="${item.getDeliveryStatus().getStatusDescription()}"></span><br>
                        <b4>주문 상품 :</b4>
                        <span>
                            <p th:each="orders:${order}" th:if="${orders.getOrderId()==item.getOrderId()}">
                                <span th:text="${orders.getOrderProducts().get(0).getProduct().getProductName()}"> < </span>
                                <span  th:if="${orders.getOrderProducts().size()>1}"> 외  <span  th:text="${orders.getOrderProducts().size()-1}">< </span>
                                    건

                            </p>
                        </span>

                    </div>
                </a>
            </div>
            <p><br></p>
            <h4>배달 완료</h4>
            <div class="list-group" th:each="item:${delivery}" th:if="${item.getDeliveryStatus().getStatusNumber()==3}">
                <a style="margin-top: 0.5rem;" th:href="@{/myPage/delivery/{id}(id=${item.getDeliveryId()})}">
                    <div class="list-group-item list-group-item-action">
                        <b4>주문 번호 :</b4>
                        <span th:text="${item.getDeliveryId()}"></span><br>
                        <b4>주문 상태 :</b4>
                        <span th:text="${item.getDeliveryStatus().getStatusDescription()}"></span><br>
                        <b4>주문 상품 :</b4>
                        <span>
                            <p th:each="orders:${order}" th:if="${orders.getOrderId()==item.getOrderId()}">
                                <span th:text="${orders.getOrderProducts().get(0).getProduct().getProductName()}"> < </span>
                                <span  th:if="${orders.getOrderProducts().size()>1}"> 외  <span  th:text="${orders.getOrderProducts().size()-1}">< </span>
                                    건

                            </p>
                        </span>

                    </div>
                </a>
            </div>


        </div>

    </div>

    <script th:inline="javascript" src="/js/home.js"></script>
</div>

</html>