<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>주문상세</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<div layout:fragment="headerBtn">
    <a href="/myPage" class="btn btn-outline-secondary" type="button">마이페이지</a>
</div>

<div layout:fragment="content">
    <div class="row" style="margin-top:3rem">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <span>배달 현황 :</span>
                    <span><h1 th:text="${delivery.getDeliveryStatus().getStatusDescription()}"> </h1> </span>
                </tr>


                    <tr>주문 번호 : <div th:text="${delivery.getDeliveryId()}"></div>  </tr>
                    <tr>주문 일시 : <div th:text="${delivery.getCreatedAt()}"></div>  </tr>
                    <tr>배달 주소 : <div th:text="${member.getAddress1()+member.getAddress2()}"></div>  </tr>
                    <tr>연락처 : <div th:text="${member.getPhone()}"></div>  </tr>



                </thead>
                <thead>
                <tr>
                    <th class="col-md-5">상품</th>
                    <th class="col-md-2">수량</th>
                    <th class="col-md-2" style="color:gray;">가격</th>
                </tr>
                </thead>
                <tbody id="tBody">

                <tr id="trDiv" th:each="item:${order.getOrderProductResponseDtos()}" th:index="${itemStat.index}">

                    <td> <span th:text="|${item.getProductName()}  |"></span><br></td>
                    <td> <span th:text="|${item.getQuantity()}  |"></span><br></td>
                    <td> <span th:text="|${item.getPrice()}  |"></span><br></td>

                </tr>
                <tr>

                    <td>
                        <span>총액</span><br>
                        <span th:id="tprice" style="color:gray;" th:text="${order.getTotalPrice()}">원</span><br>
                    </td>
                    <td>
                        <span>등급 할인 금액 </span><br>
                        <span th:id="redaaa" style="color:red;" th:text="-${order.getTotalDiscountPrice()}">원</span><br>
                    </td>
                    <td>
                        <span>결제 금액</span><br>
                        <h2><span th:id="tdiscountprice" th:text="${order.getTotalPrice()-order.getTotalDiscountPrice()}"></span><br></h2>
                    </td>


                </tr>
                </tbody>
            </table>

        </div>


        </div>

    </div>

    <script th:inline="javascript" src="/js/home.js"></script>
</div>

</html>